config/config-protected.local.php
core/logs/error_log.txt
core/cache/portraits/**
!core/cache/portraits/
!core/cache/portraits/.gitkeep
core/cache/sql_backups/**
!core/cache/sql_backups/
!core/cache/sql_backups/.gitkeep
storage/backups/
storage/cache/**
!storage/cache/
!storage/cache/.gitkeep
!storage/cache/sites/
!storage/cache/sites/.gitkeep
storage/logs/**
!storage/logs/
!storage/logs/.gitkeep
templates/offlike/cache/**
!templates/offlike/cache/
!templates/offlike/cache/.gitkeep
!templates/offlike/cache/portraits/
!templates/offlike/cache/portraits/.gitkeep
jsons/guilds/**
!jsons/guilds/
!jsons/guilds/.gitkeep
.svn/
*.spp
ToS.html
docs/release/
.local/
tmp/
uploads/**
!uploads/
!uploads/avatars/
!uploads/avatars/.gitkeep
/config/storage/logs
/config/storage/cache
/core/cache
/core/cache_class/test1.php
/core/cache_class/test2.php
/downloads/addons/**
!/downloads/addons/
!/downloads/addons/.gitkeep
/templates/offlike/images/forum/bkup
/templates/offlike/images/armory/icons/64x64
/templates/offlike/images/portraits
