<?php

return [
    'db' => [
        'host' => '127.0.0.1',
        'port' => 3310,
        'user' => 'root',
        'pass' => '123456',
    ],
    'clientConnectionHost' => '127.0.0.1',
    'serviceDefaults' => [
        'soap' => [
            'port' => 7878,
            'user' => '',
            'pass' => '', 
        ],
    ],
    'genericRuntime' => [
        'expansion' => 1,
    ],
    'realmRuntime' => [
        'default_realm_id' => 1,
    ],
    'realmDbMap' => [
        1 => [
            'realmd' => 'tbcrealmd',
            'world' => 'tbcmangos',
            'chars' => 'tbccharacters',
            'armory' => 'tbcarmory',
        ],
    ],
];
